# Dependencies
node_modules/
client/node_modules/
node_modules_trash/
client/node_modules_trash/

# Obsolete Prototype
app/

# Production Build Output
client/dist/
dist/

# Local Environment Variables
.env.local
.env.*.local
client/.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/
